<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sobre.css"> 
    <script src="js/script.js" defer></script>
    <title>Orange Evolution</title>   
</head>

<body>

    <!-- ------------- MAIN SOBRE --------------->

    <main id="main-content">

        <h1 id="about-h1">Sobre nós</h1>

        <section>           

            <div id="about-content">
                <div class="about-content-text">
                    <p>A tecnologia se tornou o grande universo de linguagens, 
                    frameworks e novas ferramentas para o nosso cotidiano. 
                    Mas, existe algo que é muito importante quando se decide 
                    se aventurar nesse mercado: o aprendizado contínuo.
                    </p>
                    <br>
                    <p> Pensando nisso, criamos a Orange Juice, um grande ecossistema 
                    que busca aproximar os amantes da tecnologia interessados 
                    em ingressar no mercado de TI.
                    </p>
                </div>
                <figure class="about-content-img">
                    <img src="img/orange-juice.png" alt="">
                </figure>
            </div>
        
        </section>

        <h2 id="about-h2">A Orange Evolution</h2>

        
        
        <section id="about-content-list">  
        
            <h4 id="about-h4">Se você:</h4>

            <div id="about-conteiner-list">
            <ul>
                <li class="about-list">Procura conteúdo tech de qualidade e gratuito</li>
                <li class="about-list">Está migrando de carreira para a área tech<img src="" alt=""></li>
                <li class="about-list">Sente que com o apoio de uma comunidade vitaminada irá se desenvolver mais<img src="" alt=""></li>
                <li class="about-list">É protagonista da sua história e formação<img src="" alt=""></li>
            </ul>
            </div>

            <h3 id="about-h3">O Orange Evolution é para você, pode chegar!</h3>

        </section>

        
        <section id="icons">
            <div class="icon">
                <a href=""><img src="img/insta-icon.png" alt=""></a>
            </div>
            <div class="icon">
                <a href=""><img src="img/linkedin-icon.png" alt=""></a>
            </div>
            <div class="icon">
                <a href=""><img src="img/youtube-icon.png" alt=""></a>
            </div>
            <div class="icon">
                <a href=""><img src="img/tweet-icon.png" alt=""></a>
            </div>
        </section>


        
    </main>

</body>
</html>
