<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sobre nós</title>

    <script type="module" src="./js/about_script.js" defer></script>
  </head>
  <body>
    <h1>Sobre nós</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ullam
      placeat dicta ratione? Ullam accusantium odio minus cum libero quos
      necessitatibus nihil, quisquam at? Eligendi ea alias iure exercitationem
      quas.
    </p>
  </body>
</html>
