<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Orange Evolution | Home</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script type="module" src="./js/home_script.js" defer></script>
  </head>
  <body>
    <h1>Orange Evolution</h1>
    <h3>(Landing Page)</h3>

    <form>
      <h3>Login</h3>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" /><br>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="
      password" />
      <button type="button" id="loginBtn">Entrar</button>
    </form>
    
    <form>
      <h3>Cadastre-se</h3>
      <label for="name">Nome:</label>
      <input type="text" id="registerName" name="name" /><br>
      <label for="email">Email:</label>
      <input type="email" id="registerEmail" name="email" /><br>
      <label for="password">Senha:</label>
      <input type="password" id="registerPassword" name="
      password" />
      <button type="button" id="registerBtn">Cadastrar</button>
    </form>
    
    <br><br>
    
    <button id="aboutBtn">Sobre nós</button>
  </body>
</html>
