<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Orange Evolution | Home</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script type="module" src="./js/home_script.js" defer></script>
  </head>
  <body>
    <h1>Orange Evolution</h1>
    <h3>(Landing Page)</h3>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel commodi fuga autem assumenda illo obcaecati nesciunt dolorem. Numquam optio blanditiis harum assumenda dolorem! Iure doloremque expedita ratione eligendi neque dolorem.
    </p>

    <button type="button" id="loginBtn">Entrar</button>
    <button id="aboutBtn">Sobre nós</button>
  </body>
</html>
