<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Trilhas | Orange Evolution</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script type="module" src="./js/paths_script.js" defer></script>
  </head>
  <body>
    <nav>
      <button id="homeBtn">Home</button>
      <button id="aboutBtn">Sobre</button>
      <button id="profileBtn">Perfil</button>
    </nav>

    <br><br>
    
    <h2></h2>
    <h1>Confira nossas trilhas</h1>
    <p>(tudo temporário isso aqui)</p>
    
    <br>
    
    <div>
      <h4>Trilha 1</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis recusandae suscipit at natus magni quia iste maiores est, facere cupiditate? Eaque, cumque? Et assumenda vel nemo atque iste ratione.
      </p>
    </div>
    <div>
      <h4>Trilha 3</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis recusandae suscipit at natus magni quia iste maiores est, facere cupiditate? Eaque, cumque? Et assumenda vel nemo atque iste ratione.
      </p>
    </div>
    <div>
      <h4>Trilha 3</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis recusandae suscipit at natus magni quia iste maiores est, facere cupiditate? Eaque, cumque? Et assumenda vel nemo atque iste ratione.
      </p>
    </div>
  </body>
</html>
