<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/path_styles.css" />
    <link rel="stylesheet" href="./css/profile_styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <title>Trilhas | Orange Evolution</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"></script>
    <script type="module" src="./js/paths_script.js" defer></script>
  </head>
  <body>
    <%- include('./partials/header.ejs') %> 
    
    <section class="content"></section>
    <div class="cta-container">
      <a href="#">
        <button class="cta">Iniciar nova trilha</button>
      </a>
    </div>
  </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
